(
  resources: {
    "bevy_forest_scene::SceneConfig": (
      env_map_intensity: 2000.0,
      skybox_brightness: 2000.0,
      fog_color: Srgba((
        red: 1.0,
        green: 1.0,
        blue: 1.0,
        alpha: 1.0,
      )),
      fog_ambient_intensity: 0.1,
      fog_light_intensity: 1.0,
      directional_light_color: Srgba((
        red: 1.0,
        green: 0.75,
        blue: 0.3,
        alpha: 1.0,
      )),
      directional_light_looking_to: (
        x: -10.0,
        y: -1.0,
        z: 7.0,
      ),
      tonemapping: TonyMcMapface,
      motion_blur_shutter_angle: 1.0,
      motion_blur_samples: 2,
      ssr: ScreenSpaceReflectionsSettings (
        perceptual_roughness_threshold: 0.1,
        linear_steps: 16,
        bisection_steps: 4,
        use_secant: true,
        thickness: 4.0,
        linear_march_exponent: 1.0,
      )
    ),
  },
  entities: {},
)