(
  resources: {
    "bevy_forest_scene::terrain::TerrainConfig": (
      half_size: 300,
      seed: 30,
      frequency: 0.05,
      octaves: 6,
      density: 0.1,
      max_steepness: 0.7,
      use_depth_map: false,
      rotation: 1.0,
    ),
  },
  entities: {},
)